<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UID</key>
	<string>u-s4t2ud-3664cbb5d4a85dffb890f91dea9592c4a342ff306214f6d1b2a7a978caeaf982</string>
	<key>SECRET</key>
	<string>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</string>
</dict>
</plist>
